<style>
    #block-calltoactionsblocksecond{
        background-size:cover;
    }
    #block-calltoactionsblocksecond span.ol-top{
        font-size:1.5em !important;
    }
</style>
<div style="max-width: 1200px;margin:auto;">
<div id="resorts-grid">
    <h2>LEARN MORE</h2>
    <div class="row">
        <div class="col-sm-4">
            <span class="ol-top"><i class="fas fa-info-circle"></i> Resort Information</span>
            <div id="r1" class="resort">
                <a  href="/resort-details">
                    <p class="ol">Read about our features & amenities</p>
                </a>

            </div>
        </div>
        <div class="col-sm-4">
            <span class="ol-top"><i class="far fa-images"></i> Photos</span>
            <div id="r2" class="resort">
                <a  href="/resort-details/photos">
                    <p class="ol">View Photos of Bay Treasure Island Beach Club Resort</p>
                </a>

            </div>
        </div>
        <div class="col-sm-4">
            <span class="ol-top"><i class="fas fa-play-circle"></i> Video Tour</span>
            <div id="r3" class="resort">
                <a  href="/video-tour">
                    <p class="ol">View our exciting video tour of the resort</p>
                </a>

            </div>
        </div>
        <div class="col-sm-4">
            <span class="ol-top"><i class="fas fa-anchor"></i> Area Attractions</span>
            <div id="r4" class="resort">
                <a href="/area-attractions">
                    <p class="ol">View some of the fun & exciting area attractions</p>
                </a>

            </div>
        </div>
        <div class="col-sm-4">
            <span class="ol-top"><i class="fas fa-video"></i> Live Webcam</span>
            <div id="r5" class="resort">
                <a href="/resort-details/live-webcam">
                    <p class="ol">View our live webcam video feed</p>
                </a>

            </div>
        </div>
        
    </div>
</div>
</div>