<div class="row">
    <div class="col-lg-6">

        <table class="clean pull-left">
            <tbody>
            <tr><td><i class="fas fa-mobile-alt"></i> <strong>Office</strong>:</td><td> (727) 688-7622</td></tr>

            </tbody>
        </table>

        <br />

    </div>

    <div class="col-lg-6 second">
        <div id="table-wrapper">
            <table class="clean">
                <tr><td colspan="2"><address class="pull-left"><i class="fas fa-map-marker"></i> 5120 Central Avenue<br />St. Petersburg, FL 33707</address></td></tr>
            </table>
        </div>
    </div>

</div>

<br />

<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14121.080346600958!2d-82.703007!3d27.770651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x215f1871458593ad!2sPelican+Homes+Realty!5e0!3m2!1sen!2sus!4v1550682548461" width="1200" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


