#webform-submission-customer-contact-form-add-form{
 .form-item-account-number,
 .form-item-customer-name{
   display:inline-block;
 }
  .form-item-account-number{
    width:120px;
  }
  .form-item-customer-name{
    width:220px;
  }

}