<div id="resorts-grid">
    <h2>Our Gulf Coast Resorts</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div id="r1" class="resort">
                <a target="_blank" href="https://bayandbeach.com/"><span class="ol">Bay & Beach Club<br /><span>Indian Shores<br />view website <i class="fas fa-globe"></i></span></span></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="r2" class="resort">
                <a target="_blank" href="https://redingtonambassador.com/"><span class="ol">Redington Embassador<br /><span>Redington Shores<br /><i class="fas fa-globe"></i></span></span></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="r3" class="resort">
                <a target="_blank" href="https://commodorebeachclub.com/"><span class="ol">Commodore Beach Club<br /><span>Madeira Beach<br /><i class="fas fa-globe"></i></span></span></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="r4" class="resort">
                <a target="_blank" href="https://jamaicanonthegulf.com/"><span class="ol">Jamaican on the Gulf<br /><span>Treasure Island<br /><i class="fas fa-globe"></i></span></span></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="r5" class="resort">
                <a target="_blank" href="#"><span class="ol">Hideaway Sands Resort<br /><span>St. Pete Beach<br /><i class="fas fa-globe"></i></span></span></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="r6" class="resort">
                <a href="/st-pete-beach-resorts"><span class="ol">View Map<br /><span>view resorts map<br /><i class="fas fa-map-marker-alt"></i></span></span></a>
            </div>
        </div>
    </div>
</div>